<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/blog.css')}}">
  		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title></title>
  </head>
  <body>
    {% with messages =  get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert" style="background-color:green;color:white;">
          <strong>{{message}}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div>
    	<header>
    		<div id="fxpr"><b>TourKarnataka</b></div>
    		<div id="below">Don't marry, travel together...!</div>
    		</header>
    </div>
    	<nav class="navbar navbar-dark bg-primary" style="color:white;">
    		<ul class="nav">
    		<li class="nav-link">
    			<a class="item" href={{url_for('users.index')}}>{{current_user.username}}</a>
    		</li>
    		<li class="nav-link">
    			<a href="{{url_for('users.logout')}}" class="item">Logout</a>
    		</li>
    		</ul>
    	</nav>
      <h1>ADD PLACE FROM DATABASE</h1>
    <form class="form-control" method="POST" enctype="multipart/form-data">
    	{{form.hidden_tag()}}
    	{{form.name()}}
    	<br>
    	{{form.latitude()}}
    	<br>
      {{form.longitude()}}
    	<br>
    	{{form.climate}}
    	<br>
    	{{form.language()}}
      <br>
      {{form.description()}}
      <br>
      {{form.submit(class="btn btn-success")}}

    </form>
    <h1>DELETE PLACE FROM DATABASE</h1>
    <form class="form-control" onsubmit="conf()" method="post">
      {{del.hidden_tag()}}
      {{del.name()}}
      <br>
      {{del.submit(class="btn btn-danger")}}
    </form>
    <script type="text/javascript">

    function conf() {
      if(!confirm("Are you sure you want to do this?")) {
        return false;
      }
      this.form.submit();
    }
</script>
  </body>
</html>
