{%extends "base.html"%}

{%block content%}
<div style="font-size:48px;">
  DECENTRALISED IMAGE STORAGE SYSTEM
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="sr-only">Loading...</span>
</div>
<script type="text/javascript">
  window.location = "http://127.0.0.1:5000/home";
</script>
{%endblock%}
